<%include {./partials/header.ejs} %>

<form>
    <div class="form-groups">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"/>
    </div>
    <div class="form-groups">
        <label></label>
        <input/>
    </div>
    <div class="form-groups">
        <label></label>
        <input/>
    </div>
    <div class="form-groups">
        <label></label>
        <input/>
    </div>
    </form>






<%include {./partials/footer.ejs} %>