<!DOCTYPE html>
<html lang="en">
<head>
    <title>FooD Kart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="">
<div class="buy">
    <h1>Buy</h1>
    <ul>
        <li>Some Text 1</li>
        <li>Some Text 2</li>
        <li>Some Text 3</li>
    </ul>
    <a href="/buyer/home" class="btn btn-primary">Go Buy</a>
</div>
<div class="sell">
    <h1>Sell</h1>
    <ul>
        <li>Some Text 1</li>
        <li>Some Text 2</li>
        <li>Some Text 3</li>
    </ul>
    <a hef="" class="btn btn-primary">Sell</a>
</div>
</div>
</body>
</html>