<% inlcude {./partials/header.ejs} %>

<p>
    <button class="btn btn-primary" data-toggle="collapse" data-toggle="#login" role="button">
        Login
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#signup">
        Sign Up!
    </button>
</p>
    <div class="collapse" id="login">
        <h1>Login!</h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button>Login</button>
            </form>
      </div>

    <div class="collapse" id="signup">
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Sign Up</button>
        </form>
        </div>


<% include {./partials/footer.ejs} %>
