<% include ./partials/buyerHeader %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">User Name</div>
          <!--img src="" alt="User Logo">
          <p>User Email</p>
          <p>User description</p-->
            <div class="list-group list-group-flush">
                <p class="list-group-item list-group-item-action bg-light">User Email</p>
                <p class="list-group-item list-group-item-action bg-light">User Address</p>
                <p class="list-group-item list-group-item-action bg-light">User Contact No.</p>
                </div>
          </div>
          
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="">
                <h2>Wish List</h2>

            </div>
            <div class=""> 
                <h2>Your Products</h2>

            </div>
        </div>
    </div>
</div>
 

<% include ./partials/buyerFooter%>