<% include partials/header %>





      <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto tune">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              <form class="form-signin" action="/register" method="POST">
                <div class="form-groups">
                      <label for="inputEmail">User Name</label>
                  <input type="text" id="inputEmail" class="form-control" name="username" placeholder="User Name" required autofocus>
                  
                </div>
  
                <div class="form-groups">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                  
                </div>
  
                <!--div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div-->
                <button class="btn btn-lg btn-primary btn-block text-uppercase">Sign Up</button>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign Up with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign Up with Facebook</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


















<!-- <form action="/register"
      method="post">

    <!-% var val = ["individual", "cafe", "hotel", "restaurants"] %>

    <div class="form-group">
        <label for="type">User Type</label>

        <select class="form-control" id="type">
            <!-% val.forEach(function (value) { %>
                    <option value="<!-%= value %>"><!-%= value %></option>
            <!-% }) %>
        </select>

        <select class="form-control" id="type">
            <option typeof="text" value="individual" selected>Individual</option>
            <option value="cafe">Cafe</option>
            <option value="hotel">Hotel</option>
            <option value="restaurants">Restaurants</option>
       </select>
    </div>
    <input type="text"
           name="username"
           placeholder="username">
    <input type="password"
           name="password"
           placeholder="password">
    <button>Sign Up</button>
</form> -->

<% include partials/footer %>