<% include ../partials/buyerHeader %>

<aside class="sideBar">
        <div class="sidebar-header">
                <h4>SideBar</h4>
            </div>
            <ul class="list-unstyled">
                 <p>Dummy Heading</p>
                <li class="">
                    <p>Home</p>
                    <ul class="list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                 <li>
                    <a href="#">About</a>
                </li>
            </ul>
    </aside>
    <section>
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
        </div>
    </section>

<% include ../partials/buyerFooter %>